<%= simple_form_for [:manage, @item] do |f| %>
  <div class="card">
    <div class="card-header">New Item</div>
    <div class="card-body">
      <%= render "shared/errors", object: @item %>

      <%= f.input :name, label: false, placeholder: "Enter the item name", input_html: { class: "form-control form-control-solid" } %>
      <%= f.input :description, placeholder: "Enter the items description", label: false, input_html: { class: "form-control form-control-solid" } %>
      <%= f.input :bin, placeholder: "Enter the buy now price", label: false, input_html: { class: "form-control form-control-solid" } %>
      <%= f.input :co, placeholder: "Enter the current offer", label: false, input_html: { class: "form-control form-control-solid" } %>
    </div>
    <div class="card-footer">
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to 'Cancel', manage_root_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>